
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top:40%;
    left: 40%;
    width: 200px;
    height: 200px;
    box-shadow: inset;
}
.main-container > p {
    position: inherit;
    text-align: center;
    top: 25%;
    left: 10%;
    font-size: 2rem;
    z-index: 1;
}

.box {
    z-index: 99;
    box-shadow: 4px 4px 10px 2px grey;
    outline: 1px solid black;
    border-collapse: collapse;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.box__red {
    background-color: red;
}

.box__yellow {
    background-color: yellow;
}

.box__blue {
    background-color: blue;
}

.box__green {
    background-color: green;
}

.main-container:hover .box__yellow  {
    transform: rotate(-90deg);
    transform-origin: top right;
}

.main-container:hover .box__red  {
    transform: rotate(90deg);
    transform-origin: top left;
}

.main-container:hover .box__blue  {
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.main-container:hover .box__green  {
    transform: rotate(90deg);
    transform-origin: bottom right;
}